<div id="createUser">
    <h1> Create User</h1>
    <div>
        <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">

            <label class="center-block">First Name:
      <input class="form-control" formControlName="firstName" >
            <div *ngIf="formErrors.firstName" class="alert alert-danger">
            {{ formErrors.firstName }}
    </div>
    </label>
            <label class="center-block">Last Name:
      <input class="form-control" formControlName="lastName">
        <div *ngIf="formErrors.lastName" class="alert alert-danger">
            {{ formErrors.lastName }}
    </div>
    </label>
            <label class="center-block">Email:
      <input class="form-control" formControlName="email">
        <div *ngIf="formErrors.email" class="alert alert-danger">
            {{ formErrors.email }}
    </div>
    </label>
            <label class="center-block">Birth Date:
      <input class="form-control" formControlName="birthDate">
    </label>
            <label class="center-block">Street Address:
      <input class="form-control" formControlName="streetAddress">
    </label>
            <label class="center-block">City:
      <input class="form-control" formControlName="city">
    </label>
            <label class="center-block">State:
      <input class="form-control" formControlName="state">
    </label>
            <label class="center-block">Zip:
      <input class="form-control" formControlName="zipCode">
            </label>


            <button (click)="createUser()" type="button">Create User</button>
        </form>
    </div>
</div>