<div id="createUser">
    <div class="row">
        <h1> Create User</h1>
        <div>

            <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                    <label class="center-block">First Name:
                    <input class="form-control" formControlName="firstName">
                    <div *ngIf="formErrors.firstName" class="alert alert-danger">
                        {{ formErrors.firstName }}
                    </div>
                
                </label>
                </div>
                <div class="col-md-6">
                    <label class="center-block">Last Name:
      <input class="form-control" formControlName="lastName" />

    </label>
                    <div *ngIf="formErrors.lastName" class="alert alert-danger">
                        {{ formErrors.lastName }}
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="center-block">Email:
      <input class="form-control" formControlName="email">
        <div *ngIf="formErrors.email" class="alert alert-danger">
            {{ formErrors.email }}
    </div>
    </label>
                </div>
                <div class="col-md-6">
                    <label class="center-block">Birth Date:
      <input class="form-control" formControlName="birthDate">
    </label>
                </div>
                <div class="col-md-6">
                    <label class="center-block">Street Address:
      <input class="form-control" formControlName="streetAddress">
    </label>
                </div>
                <div class="col-md-6">
                    <label class="center-block">City:
      <input class="form-control" formControlName="city">
    </label>
                </div>
                <div class="col-md-6">
                    <label class="center-block">State:
      <input class="form-control" formControlName="state">
    </label>
                </div>
                <div class="col-md-6">
                    <label class="center-block">Zip:
      <input class="form-control" formControlName="zipCode">
            </label>

                </div>

                <div class="col-md-12">
                    <button class="btn btn-primary bigutton" (click)="createUser()" type="button">Create User</button>
                </div>

            </form>

        </div>
    </div>
</div>