<div id="sign-in" class="container-fluid">
    <div id="userSearch">
        <h2>Select User</h2>
        <label class="center-block">Name:
      <input  #customerSearchBox id="search-box" (keyup)="search(customerSearchBox.value)" >
        </label>
        <a href="#" class="btn btn-primary" role="button" routerLink="/createUser" routerLinkActive="active">Create New User</a>

        <div id="userSearchResults">
            <div>

                <div class="grid grid-pad">

                    <a *ngFor="let c of customers |async" [routerLink]="['/user/', c.id]" class="col-1-4">
                        <div class="">
                            <h4>{{c.id}} - {{c.firstName}} {{c.lastName}}</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>